/* --- OBECNE --- */

  div.odhlasit
  {
    /* problem v margin a padding */
    position: absolute;
    left: 0px; 
    top: 10px;
    border: 0px solid black; 
    width: 99%;
    text-align: right;
    text-transform: lowercase;
    font-size: medium;
    font-family: sans-serif; 
    text-decoration: underline overline;
    color: Crimson;
    font-weight: bold;
  }
  .prihlas_formular
  {
    margin: 1em;
    border: 0px solid black;
    font-family: sans-serif;
  }
  
  .zmena_hesla_formular
  {
    margin: 1em;
    border: 0px solid black;
  }
  
  .none
  {
    display: none;
  }
  
  
  /*
  .nazev
  {
    width: 13em;
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-family: sans-serif;
    font-size: small;
    background-color: PowderBlue;
  }
  
  .nazev-sudy
  {
    width: 13em;
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-family: sans-serif;
    font-size: small;
    background-color: LightSteelBlue;
  }

  .den
  {
    width: 2em;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: sans-serif;
    font-size: small;
  }
*/

/* --- BODY --- */

  body.vse
  {
    /* pridan padding, margin */
    margin: 0px;
    padding:0.5em;
    background-color: white;
    /*background-image: url("logo2.jpg");
    background-position: right top;
    background-repeat: no-repeat;*/
    border: 0em solid orange;
  }



/* --- FORM --- */

  /* pridano */
  form
  {
    padding: 0px;
    margin:0px;
    border: 0px solid blue;
  }


/* --- DIV --- */

  /* pridano */
  div.soucet
  {
    padding:0em;
    margin:0em;
    width:4em;
    border: 0px solid blue;
  }

  /* pridano */
  div.den
  {
    padding:0em;
    margin:0em;
    width:2em;
    border: 0px solid blue;
  }

  /* pridano */
  div.nazev
  {
    overflow: hidden;
    padding:0em;
    margin:0em;
    padding-left:0.2em;
    padding-right:0.3em;
    width:13em;
    height:1.3em;
    border: 0px solid blue;
  }

  /* pridano */
  div.nabidka
  {
    padding-bottom:1em;
    border: 0px solid blue;
  }
  
  div.menu
  {
    background-color: white;
    border: 0px solid black;
    margin: 1em;
  }
  
  div.submenu
  {
    background-color: white;
    border: 0px solid black;
    margin: 1em;
  }
  
  div.obsah
  {
    border: 0px solid black;
    
  }
  
  div.vysvetlivky
  {
    display: block;
    color: gray;
    border: 0em;
    border-bottom:1px dashed silver;
  }
  
  div.err
  {
    color: red;
    font-size: medium;
    margin: 1em;
  }


/* --- TABLE --- */

  table
  {
    border: solid black 1px;
    table-layout: auto;
    margin-bottom: 1em;
    border: 0px solid red;
  }

/* --- TR --- */
  
    tr.lichy
    {
      background-color: LightCyan;
    }

    tr.sudy
    {
      background-color: lavender;
    }

    /* pridano */
    tr.lichy_vypln
    {
      background-color: LightGoldenrodYellow;
    }
    /* pridano */
    tr.sudy_vypln
    {
      background-color: PeachPuff;
    }

/* --- TH --- */

  th
  {
    width: 2em;
    height: 2em;
    border: solid black 1px;
  }

  th.nazev
  {
    width: 8em;
    background-color: LightCoral; /*White*/;
  }

  th.den
  {
    color: black;
    background-color: White;
  }

  th.soucet
  {
    width: 4em;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: sans-serif;
    font-size: medium;
  }


/* --- TD --- */
  
  td
  {
    border: solid black 1px;
  }

  td.den /* nove */
  {
    text-align: center;
  }

  td.nazev /* nove */
  {
    /*
    padding-left:0.2em;
    padding-right:0.3em;
    overflow: hidden;
    width:15em;
    */
  }

  td.soucet
  {
    /* width: 4em; */
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: sans-serif;
    font-size: medium;
    background-color: Silver;
  }

  td.soucetsoucet
  {
    /* width: 4em; */
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: sans-serif;
    font-size: medium;
    background-color: DarkGray;
  } 

  td.prihlas_formular
  {
    width: 10em;
  }

  td.zmena_hesla_formular
  {
    width: 10em;
  }

/* --- A --- */

  a.menu
  {
    margin: 0em;
    padding: 1em;
    text-transform: uppercase;
    font-size: medium;
    font-family: sans-serif; 
    text-decoration: none;
    color: black;
  }

  a.menu:hover, a.menu:active, a.menu:focus
  {
    color: Crimson;
  }

  a.menuAktivni
  {
    margin: 0em;
    padding: 1em;
    border: 1px solid black;
    text-transform: uppercase;
    font-size: medium;
    font-family: sans-serif; 
    text-decoration: none;
    color: blue;
  }
  
  a.submenu
  {
    margin: 1em;
    border: 0px solid black;
    text-transform: lowercase;
    font-size: medium;
    font-family: sans-serif; 
    text-decoration: none;
    color: black;
  }

  a.submenu:hover, a.submenu:active, a.submenu:focus
  {
    color: Crimson;
  }

  a.submenuAktivni
  {
    margin: 1em;
    border: 0px solid black;
    text-transform: lowercase;
    font-size: medium;
    font-family: sans-serif; 
    text-decoration: none;
    color: blue;
  }
  
  a.nabidka
  {
    margin: 1em;
    font-family: sans-serif; 
    text-decoration: none;
    color: black;
  }

  a.nabidka:hover, a.nabidka:active, a.nabidka:focus
  {
    color: Crimson;
  }

  a.vypln
  {
    background-color: silver;
    margin: 1em;
    padding: 0.2em;
    border: 3px outset gray;
    font-family: sans-serif; 
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
  }

  a.vypln:hover, a.vypln:active, a.vypln:focus
  {
    color: Crimson;
  }

/* --- INPUT --- */
   
  input.lichy
  {
    /* display: block; 
    border: 0px;
    margin: 0em;
    padding: 0em;
    width: 100%;
    height: 100%; */
    padding:0em;
    margin:0em;
    height:100%;
    width:2em;
    border:0em;
    background-color: LightGoldenrodYellow;
    text-align: center;
  } 
   /* pridano */  
  input.lichy:focus
  {
    outline:none; 
  }

  input.sudy
  {
    /*
    display: block;
    border: 0px;
    margin: 0em;
    padding: 0em;
    width: 100%;
    height: 100%; */
    padding:0em;
    margin:0em;
    height:100%;
    width:2em;
    border:0em;
    background-color: PeachPuff;
    text-align: center;
  } 
  /* pridano */  
  input.sudy:focus
  {
    outline:none; 
  }

